* {
  box-sizing: border-box;
}

body {
  background-color: #989C9B;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}



.slideshow {
  max-width: 900px;
  position: relative;
}

.controls button {
  z-index: 10;
  position: absolute;
  border-radius: 50px;
  border: 0;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

#previous {
  top: 700px;
  right: 350px;
}

#next {
  top: 700px;
  left: 450px;
}

#play,
#pause {
  top: 700px;
  left: 30px;
}


.slide {
  position: absolute;
  transition: opacity 0.5s ease;
  opacity: 0;
  top: 200px;
  left: -400px;
}

.slide img {
  max-width: 900px;
  border: 2px solid #f0f0f0;
  border-radius: 4px;
}



.display {
  opacity: 1;
}

.hidden {
  display: none !important;
}